.social-media {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;
  width: 20rem;
  justify-self: center;

  &__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;

    &:hover {
      color: blue;
    }
  }

  &__icon {
    $size: 24px;
    max-width: $size;
    max-height: $size;
    transition: all 0.2s;
  }
}
