.languages-switcher {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 8%;

  &__item {
    color: var(--text-primary);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover,
    &.active {
      font-weight: 600;
    }

    &.active {
      color: var(--text-accent);

      &:hover {
        color: var(--text-primary);
      }
    }
  }
}
