// Обновленные переменные для светлой темы
$light-bg-primary: #e2e8f0;
$light-bg-secondary: #cbd5e1;
$light-text-primary: #1a202c;
$light-text-secondary: #4a5568;
$light-accent: #3182ce;

body.theme.light {
  background-color: $light-bg-primary;
  color: $light-text-primary;
}
